EurekaJ.Manager/src/main/cxf/eurekaj-dl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EurekaJServiceService"
	targetNamespace="http://webservice.eurekaj.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://webservice.eurekaj.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://webservice.eurekaj.org/" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://webservice.eurekaj.org/">
			<xsd:import namespace="http://webservice.eurekaj.org/" schemaLocation="eurekaJElements.xsd"/>
		</xs:schema>

	</wsdl:types>
	
	
	<wsdl:message name="getLiveStatistics">
		<wsdl:part name="parameters" element="tns:getLiveStatistics">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLiveStatisticsResponse">
		<wsdl:part name="parameters" element="tns:getLiveStatisticsResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="storeIncomingStatistics">
		<wsdl:part name="parameters" element="tns:storeIncomingStatistics">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="storeIncomingStatisticsResponse">
		<wsdl:part name="parameters" element="tns:storeIncomingStatisticsResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getCompleteTreemenu">
		<wsdl:part name="parameters" element="tns:getCompleteTreemenu">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCompleteTreemenuResponse">
		<wsdl:part name="parameters" element="tns:getCompleteTreemenuResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getTreemenuForGuiPath">
		<wsdl:part name="parameters" element="tns:getTreemenuForGuiPath">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTreemenuForGuiPathResponse">
		<wsdl:part name="parameters" element="tns:getTreemenuForGuiPathResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getAlertByGuiPath">
		<wsdl:part name="parameters" element="tns:getAlertByGuiPath">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAlertByGuiPathResponse">
		<wsdl:part name="parameters" element="tns:getAlertByGuiPathResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getAllAlerts">
		<wsdl:part name="parameters" element="tns:getAllAlerts">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllAlertsResponse">
		<wsdl:part name="parameters" element="tns:getAllAlertsResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="storeAlert">
		<wsdl:part name="parameters" element="tns:storeAlert">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="storeAlertResponse">
		<wsdl:part name="parameters" element="tns:storeAlertResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="EurekaJService">
		<wsdl:operation name="getLiveStatistics">
			<wsdl:input name="getLiveStatistics" message="tns:getLiveStatistics">
			</wsdl:input>
			<wsdl:output name="getLiveStatisticsResponse" message="tns:getLiveStatisticsResponse">
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="storeIncomingStatistics">
			<wsdl:input name="storeIncomingStatistics" message="tns:storeIncomingStatistics">
			</wsdl:input>
			<wsdl:output name="storeIncomingStatisticsResponse" message="tns:storeIncomingStatisticsResponse">
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getCompleteTreemenu">
			<wsdl:input name="getCompleteTreemenu" message="tns:getCompleteTreemenu">
			</wsdl:input>
			<wsdl:output name="getCompleteTreemenuResponse" message="tns:getCompleteTreemenuResponse">
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getTreemenuForGuiPath">
			<wsdl:input name="getTreemenuForGuiPath" message="tns:getTreemenuForGuiPath">
			</wsdl:input>
			<wsdl:output name="getTreemenuForGuiPathResponse" message="tns:getTreemenuForGuiPathResponse">
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getAlertByGuiPath">
			<wsdl:input name="getAlertByGuiPath" message="tns:getAlertByGuiPath">
			</wsdl:input>
			<wsdl:output name="getAlertByGuiPathResponse" message="tns:getAlertByGuiPathResponse">
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getAllAlerts">
			<wsdl:input name="getAllAlerts" message="tns:getAllAlerts">
			</wsdl:input>
			<wsdl:output name="getAllAlertsResponse" message="tns:getAllAlertsResponse">
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="storeAlert">
			<wsdl:input name="storeAlert" message="tns:storeAlert">
			</wsdl:input>
			<wsdl:output name="storeAlertResponse" message="tns:storeAlertResponse">
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault-->
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="EurekaJServiceServiceSoapBinding"
		type="tns:EurekaJService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getLiveStatistics">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getLiveStatistics">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getLiveStatisticsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="storeIncomingStatistics">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="storeIncomingStatistics">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="storeIncomingStatisticsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getCompleteTreemenu">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getCompleteTreemenu">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCompleteTreemenuResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getTreemenuForGuiPath">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getTreemenuForGuiPath">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTreemenuForGuiPathResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getAlertByGuiPath">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAlertByGuiPath">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAlertByGuiPathResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="getAllAlerts">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllAlerts">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllAlertsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault-->
		</wsdl:operation>
		
		<wsdl:operation name="storeAlert">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="storeAlert">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="storeAlertResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<!-- wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault-->
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="EurekaJServiceService">
		<wsdl:port name="EurekaJServicePort" binding="tns:EurekaJServiceServiceSoapBinding">
			<soap:address location="http://localhost:8081/eurekaJ.Manager/webservices/eurekaJService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
